.section-block {
    @media (max-width: 767px) {
        .container {
            padding: 0;
        }
    }
    &--1,
    &--2 {
        @media (max-width: 767px) {
            height: 262px;
            overflow: hidden;
        }
    }
}

.showMore {
    display: none;
    @media (max-width: 767px) {
        position: absolute;
        bottom: 0;
        left: 24px;
        width: 100%;
        height: 60px;
        color: var(--color-blue);
        display: flex;
        align-items: center;
        gap: 8px;
        background-color: #fff;
        z-index: 10;
    }
}

.block {
    position: relative;
    padding: 40px;
    border-radius: 40px;
    background-color: #fff;
    height: 100%;
    @media (max-width: 767px) {
        padding: 24px;
        overflow: hidden;
    }
    &--mode {
        @media (max-width: 767px) {
            padding-bottom: 0;
        }
    }
}

.block__title {
    margin-bottom: 40px;
    @media (max-width: 767px) {
        margin-bottom: 16px;
    }
}

.block__head {
    margin-bottom: 40px;
}

.block__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
    }
}

.block__block {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.block__col {
    display: flex;
    flex-direction: column;
    &:first-child {
        gap: 24px;
    }
    &:last-child {
        gap: 16px;
    }
}

.block__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    @media (max-width: 767px) {
        gap: 16px;
    }
}

.block__list-item {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    font-size: 18px;
    font-weight: 500;

    span {
        font-size: 18px;
        font-weight: 600;
        color: var(--color-blue);
        @media (max-width: 767px) {
            font-size: 14px;
        }
    }
    @media (max-width: 767px) {
        font-size: 14px;
    }
}

ul.block__list .block__list-item {
    &::before {
        content: "";
        display: block;
        margin-top: 6px;
        max-width: 8px;
        height: 8px;
        flex: 1 0 8px;
        border-radius: 50%;
        background-color: var(--color-blue);
    }
}

.block__block-title {
    font-size: 24px;
    font-weight: 400;
    font-family: $fontBase;
    line-height: 29px;
    @media (max-width: 767px) {
        font-size: 16px;
        line-height: 18px;
    }
}

.block__label {
    background-color: var(--color-base);
    color: #fff;
    padding: 24px;
    border-radius: 24px;
    @media (max-width: 767px) {
        margin: 0 -24px;
    }
}
