.footer {
    background-color: var(--color-blue);
    color: #fff;
    padding-top: 64px;
    padding-bottom: 64px;
    border-radius: 24px 24px 0 0;
    @media (max-width: 767px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.footer__wrap {
    display: grid;
    grid-template-columns: 1fr 588px;
    gap: 64px;
    margin-bottom: 80px;
    @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 40px;
    }
}

.footer__map {
    border-radius: 24px;
    overflow: hidden;
    .map {
        width: 100%;
        height: 100%;
        @media (max-width: 767px) {
            height: 418px;
        }
    }
}

.footer__title {
    margin-bottom: 40px;
    @media (max-width: 767px) {
        margin-bottom: 24px;
    }
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    .btn {
        @media (max-width: 767px) {
            width: 100%;
        }
    }
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__list-item {
    position: relative;
    padding-left: 40px;
    font-size: 24px;
    font-weight: 400;
    font-family: $fontBase;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-size: contain;
        width: 24px;
        height: 24px;
    }
    &--place {
        &::before {
            background-image: url("../images/map-pin.svg");
        }
    }
    &--tel {
        &::before {
            background-image: url("../images/phone-call.svg");
        }
    }
    &--email {
        &::before {
            background-image: url("../images/mail.svg");
        }
    }
    @media (max-width: 767px) {
        font-size: 18px;
    }
}

.footer__logo {
    margin-bottom: 24px;
    max-width: 160px;
    @media (max-width: 767px) {
        max-width: 140px;
        flex: auto;
    }
}

.footer__logo {
    // width: 128px;
    // flex: 1 0 128px;
    // @media (max-width: 767px) {
    //     width: 86px;
    //     flex: 1 0 86px;
    // }
}

.footer__bottom-side {
    font-size: 16px;
    font-weight: 400;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: 767px) {
        flex-direction: column;
    }
}

.footer__bottom-left-aside {
    display: flex;
    flex-direction: column;
    span {
        margin-bottom: 8px;
        @media (max-width: 767px) {
            display: none;
        }
    }
}

.footer__bottom-right-aside {
    display: flex;
    flex-direction: column;
    gap: 40px;
    @media (max-width: 767px) {
        gap: 8px;
    }
}

.footer__copy {
    display: none;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    gap: 8px;
    @media (max-width: 767px) {
        display: flex;
    }
}

.footer__menu {
    @media (max-width: 767px) {
        margin-bottom: 24px;
        gap: 8px;
    }
}

.footer__btns {
    display: flex;
    gap: 24px;
    align-items: center;
}
