.products {
    overflow: hidden;
}

.products__head {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 64px;
    @media (max-width: 767px) {
        flex-direction: column;
        margin-bottom: 24px;
    }
    .swiper-navigation {
        @media (max-width: 767px) {
            display: none;
        }
    }
}

.products__title {
    max-width: 588px;
    width: 100%;
}

.products__slider {
    .swiper-slide {
        @media (max-width: 767px) {
            width: 224px;
        }
    }
    @media (max-width: 767px) {
        margin-right: -24px;
    }
}
