.steps-slider {
    position: relative;
    min-width: 0;
    width: 100%;
    // margin-bottom: -128px;
    .swiper-slide {
        position: relative;
        border: 2px solid var(--color-blue);
        border-radius: 24px;
        padding: 24px;
        // padding-left: 56px;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        font-family: $fontBase;
        display: flex;
        gap: 24px;
        // flex-direction: column;
        // justify-content: flex-end;
        height: auto;
        span {
            // padding-top: 40px;
            @media (max-width: 767px) {
                overflow-wrap: anywhere;
            }
        }
        &::before {
            content: "";
            margin-top: 10px;
            margin-bottom: auto;
            border-radius: 50%;
            background-color: var(--color-blue);
            min-width: 8px;
            height: 8px;
        }
        @media (max-width: 767px) {
            width: 220px;
            font-size: 18px;
            line-height: 22px;
        }
        &.current {
            opacity: 0.5;
        }
    }
    @media (max-width: 767px) {
        font-size: 18px;
        overflow: visible;
        &::before {
            content: "";
            position: absolute;
            right: 100%;
            width: 100%;
            height: 100%;
            background-color: #f5f5f5;
            z-index: 10;
        }
    }

    // &::before {
    //   content:"";
    //   position: absolute;
    //   bottom: 0;
    //   left: 0;
    //   height: 65px;
    //   background-color: #f5f5f5;
    //   opacity: 0.5;
    //   width: 100%;
    //   z-index: 10;
    // }
}

.steps-slider {
    .swiper-wrapper {
        &::-webkit-scrollbar {
            display: none;
        }
        -ms-overflow-style: none; /* IE и Edge */
        scrollbar-width: none; /* Firefox */
        @media (min-width: 767px) {
            display: flex;
            flex-direction: column;
            gap: 24px;
            overflow: auto;
        }
    }
}
