header.header
	.container 
		a.header__logo.logo(href="index.html")
			img(src=require("../../images/logo.svg"), alt="")
		.header__content
			.header__menu.menu 
				a.menu__link(href="catalog.html") Каталог
				a.menu__link(href="/#steps") Автоматизация
				a.menu__link(href="about.html") О компании
				a.menu__link(href="/#trust") Наши клиенты
			button.btn.btn--first.btn--first--i.header__btn.showPopup Пригласить в тендер
			.header__social 
				a(href="https://www.youtube.com/shorts/IdMYizDUdag" target="_blank") 
					img(src=require('../../images/youtube_symbol.svg'), alt='')
				a(href="https://wa.me/79664444412?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!%20%D0%9F%D1%80%D0%B8%D1%88%D1%91%D0%BB%20%D0%BA%20%D0%92%D0%B0%D0%BC%20%D1%81%20%D1%81%D0%B0%D0%B9%D1%82%D0%B0%2C%20%D0%BC%D0%B5%D0%BD%D1%8F%20%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%B5%D1%81%D1%83%D0%B5%D1%82" target="_blank") 
					img(src=require('../../images/whatsapp_symbol.svg'), alt='')
			.header__contact 
				a.header__tel(href="tel:8-800-707-77-62") 8-800-707-77-62
				span По будням с 9:00 до 18:00 
		.burger
		.header__m 
			button.btn.btn--first.btn--first--i.header__btn.showPopup Пригласить в тендер
			.header__contact 
				a.header__tel(href="tel:8-800-707-77-62") 8-800-707-77-62
				span По будням с 9:00 до 18:00 