section.offer 
	.container 
		.offer__wrap 
			h2.title.offer__title Под ваши задачи требуется индивидуальное решение?
			span.subtitle.offer__subtitle Мы готовы реализовать для вас индивидуальное весовое оборудование  с нестандартными параметрами и предложить комплексные решения по его автоматизации.
			.offer__label 
				span Рассчитайте заказ на <br> нестандартное оборудование
				a(href="calc.html").btn.btn--first Рассчитать