extends layout
block main 
	main
		section.error 
			.error__content 
				img.error__pic(src=require("../images/error.svg"), alt="")
				span упс, тут ничего нет
				a(href="index.html").btn.btn--first Вернуться на главную 