doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Нижвеском
    body 
        .wrapper  
            .closed.container  
                h1.closed-title Сайт временно закрыт на техничское обслуживание.