doctype html
html(lang="ru")
  include /modules/head
  body

    .wrapper
      include /modules/header
      block main
      include /modules/footer
    include modules/popup1
    include modules/popup2
    include modules/popup3